body{
  /* background-color: #001d3d; */
  background-color: #002147;
}
.rectangle-page{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 60px 30px 30px 30px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.timeRest ul{
  display: flex;
  flex-direction: row;
  justify-content:flex-start ;
  margin-left: 8%;
  margin-top: 3% ;
}

.timeRest li{
  /* border: 1px solid #001d3d; */
  background-color:chocolate;
  color: white;
  border: none;
  list-style: none;
  border-radius: 7px;
  padding: 14px;
  margin:   0 15px;
  cursor: pointer;
  font-weight: 700;
  font-family:'Times New Roman', Times, serif;
}

.timeRest ul :link{
  text-decoration: none;
}


.oneline{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
   /* margin-top:10vh ; */
  margin-bottom: 10vh;
}


/* .timeRest ul li.selected {
  background-color: #3498db; 
  color: #fff; 
  cursor: pointer; 
} */

.graph-container p{
  font-size: clamp(1.5rem, 2vw, 2rem);
}

/* .cryptoSelect{
  height: 40px;
  width: 120px;
  font-weight: 600;
  font-size: 16px;
  padding-left: 7px;
  cursor: pointer;
  border-radius: 5px;
} */



.select-crypto{
  height: 40px;
  width: 120px;
  font-weight:600; 
  font-size: 16px; 
  font-family:'Inter' sans-serif;
   cursor: 'pointer';
   border-radius: 5px;
   padding-left: 15px;
}

.select-graph{
  height: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 7px;
  font-family: 'Inter', sans-serif;
  
}


.select-label{
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}